<%= flash[:buttcheeks] if flash[:buttcheeks] %>
<h1><%= @user.name %>'s Page</h1>
<ul>
  <li>Tickets: <%= @user.tickets %></li>
  <li>Height: <%= @user.height %></li>
  <li>Happiness: <%= @user.happiness %></li>
  <li>Nausea: <%= @user.nausea %></li>
  <li>Mood: <%= @user.mood %></li>
  <% if @user.admin %>
    <li>ADMIN</li>
  <% end %>
</ul>


<h3><%= link_to "See attractions", attractions_path %></h3>
